@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

canvas
{
    padding: 0;
    margin: auto;
    display: block;
    width: 512px;
    height: 372px;
    position: absolute;
    top: -12em;
    bottom: 0;
    left: 0;
    right: 0;
}

.outer
{
    margin-top: 26em;
    border: 0px dashed white;
    width: 100%;
    text-align: center;
}

.inner
{
    display: inline-block;
    width: 500px;
}

.title_text
{
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 2em;
    text-align: center;
    display: block;
}

.list_text
{
    color: white;
}